@use '@/styles/index.scss' as *;

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;

  .login {
    width: 520px;
    align-items: center;
    justify-content: center;
    @include tablet {
      width: 520px;
    }
    @include mobile {
      width: 375px;
    }
    .member {
      margin-top: 20px;
      text-align: center;
      color: $black-33;
      @include FontStyle(16, 400);
      line-height: 19.09px;

      .link {
        color: $violet;
        &:hover {
          color: $main-yellow;
        }
      }
      .underline {
        text-decoration: underline;
      }
    }
  }
}
